# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
beurette.cdt
beurette.dsk
beurette.rom
beurette_BSS.bin
beurette_DATA.bin
madame_y
madame_y.cbp
zcc_opt.def
cfg/cdt_manager.mk
cfg/compression.mk
demo.rom
demo_BSS.bin
demo_DATA.bin
game.cdt
game.dsk
game12k
out.bin
symbol.txt
.idea/workspace.xml
obj/.folder
obj/binaryAddresses.log
obj/cpc.asm
obj/cpc.lst
obj/cpc.rel
obj/cpc.rst
obj/cpc.sym
obj/demo.asm
obj/demo.lst
obj/demo.rel
obj/demo.rst
obj/demo.sym
obj/game.bin
obj/game.bin.dskinc
obj/game.bin.log
obj/game.dsk.dskinc
obj/game.ihx
obj/game.lk
obj/game.noi
obj/gb.asm
obj/gb.lst
obj/gb.rel
obj/gb.rst
obj/gb.sym
obj/msdos.asm
obj/msdos.lst
obj/msdos.rel
obj/msdos.rst
obj/msdos.sym
obj/msx.asm
obj/msx.lst
obj/msx.rel
obj/msx.rst
obj/msx.sym
obj/prebuildstep.objectfile
obj/sdl2.asm
obj/sdl2.lst
obj/sdl2.rel
obj/sdl2.rst
obj/sdl2.sym
obj/smd.asm
obj/smd.lst
obj/smd.rel
obj/smd.rst
obj/smd.sym
obj/spectrum.asm
obj/spectrum.lst
obj/spectrum.rel
obj/spectrum.rst
obj/spectrum.sym
obj/dsk_files/.folder
demo.gb
.idea
demo_BANK_1F.bin
